.EmpoweringMain{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
        .headerBlockBot{
            width: 95%;
            height: 55vh;

            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 1%;
            .headerBlockBotLeft{
                width: 70%;
                height: 95%;
                background-color: #1A1A1A;
                border-radius: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .LeftBlockTop{
                    width: 80%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    .DigitalButton{
                        width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: row;
                        .MainText{
                            width: 60%;
                            color: white;
                            font-weight: 500;
                            font-size: 78px;
                            .MainTextP{


                            }
                        }
                        .img{
                            height: 40%;
                            background-color: transparent;
                            border: transparent;
                            cursor: pointer;
                            position: relative;
                            top: 10%;
                            right: 5%;
                        }
                    }
                    .NexGen{
                        width: 100%;
                        height: 10vh;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        .MiniTxt{
                            width: 80%;
                            height: auto;
                            font-weight: 400;
                            font-size: 18px;
                            color: #676665;
                        }
                    }
                }
                .LeftBlockBot{
                    width: 95%;
                    height: 15vh;
                    display: flex;
                    justify-content: center;
                    .Conteiner{
                        background-color: #0F0F0F;
                    }
                }
            }
            .headerBlockBotRight{
                width: 29%;
                height: 95%;
                background-color: #1A1A1A;
                border-radius: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
         //right

.headerBlockBotRight {
    width: 99vw;    
    height: 77vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    

    background-image: 

        url('../assets/Card.png');
        
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;





    .insideBlockBotRight{
        width: 90%;
        height: 90%;
        display: flex;
        justify-content: space-between;
        align-items: end;
        .viewAll {
        display: flex;
        align-items: center;
        gap: 12px;
        }

        .viewAllCircle {
            width: 42px;
            height: 42px;

            border-radius: 50%;
            border: 1px solid #ffffff;
            background: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: rgb(0, 0, 0);


                        font-size: 20px;
        }
        .viewAll span {
            color: #909090;
            font-size: 16px;
            letter-spacing: 2px;
            cursor: pointer;
        }

        .ButOpaciti{
            padding: 14px;
            border-radius: 10px;
            border: none;
             background-color: rgba(255, 255, 255, 0.15); /* Полупрозрачный белый */
            backdrop-filter: blur(10px);                  /* Эффект матового стекла */
            -webkit-backdrop-filter: blur(20%); 
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            cursor: pointer;
        }
    }
}

}//Слава велекому чату гпт, спасибо огромное, я так устал...

.Space{
    width: 100%;
    height: 10vh;
    background: #000;

}